



<div class="columns" id="home">
    <div class="column is-one-quarter">
        <div class="column is-full cardStyle center">
            <img src="/assets/img/croc.png">
            <br><a id="addAccountLink">Add Account</a> | <a href="/">Log Out</a>
        </div>
        {{#each accounts}}
        <div class="column is-full cardStyle">
            {{account_name}} | {{interest}}% | ${{balance}}
            {{#if term_months}} | {{term_months}}mos
            {{/if}}
            <br>
            {{#if active}}
                <a class="deactivate" data-id="{{id}}" data-active="{{active}}">Hide</a>
            {{/if}}
            {{#unless active}}
            <a class="activate" data-id="{{id}}" data-active="{{active}}">Show</a>
            {{/unless}} |
             <a class="edit" data-id="{{id}}">Edit</a> | 
             <a class="delete-acct" data-id="{{id}}" href="#">Delete</a>
        </div>
        {{/each}}
    </div>
    
    <div class="column is-three-quarters">
        <div class="column is-full cardStyle">
            Total debt: $<span id="totalDebt"></span> | Yearly fees: $<span id="feesYr"></span> | Monthly fees: $<span id="feesMo"></span> | Daily fees: $<span id="feesDay"></span>
            {{!-- debt chart --}}
            <div id="debtChart" style="width:100%; height:400px;">
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var myChart = Highcharts.chart('debtChart', {
                            chart: {
                                type: 'pie'
                            },

                            title: {
                                text: 'Debt Breakdown'
                            },
                            series: [{
                            name: 'Balance',
                            colorByPoint: true,
                            
                            data: [
                                {{#each accounts}}
                                {{#if active}}
                                {
                                    name: '{{account_name}}',
                                    y: {{balance}},
                                },
                                {{/if}}
                                {{/each}}
                            ]
                            }]
                        });
                    });
                </script>
            </div>
            {{!-- feesYr chart --}}
            <div id="feesYrChart" class="hide" style="width:100%; height:400px;">
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var myChart = Highcharts.chart('feesYrChart', {
                            chart: {
                                type: 'pie'
                            },

                            title: {
                                text: 'Yearly Interest Fees'
                            },
                            series: [{
                            name: 'Interest(yr)',
                            colorByPoint: true,
                            
                            data: [
                                {{#each accounts}}
                                {{#if active}}
                                {
                                    name: '{{account_name}}',
                                    y: {{interest}} / 100 * {{balance}},
                                },
                                {{/if}}
                                {{/each}}
                            ]
                            }]
                        });
                    });
                </script>
            </div>

          Chart view: <a id="showDebtChart">Debt</a> | <a id="showFeesYrChart">Interest</a>
        </div>
    </div>
</div>

{{!-- Edit account modal --}}
{{#each accounts}}
<div class="modal" id="{{id}}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Editing {{account_name}}</p>
      <button class="delete close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      Account name <input id="updateAccountName{{id}}" class="input" type="text" value="{{account_name}}">
      Balance<input id="updateBalance{{id}}" class="input" type="text" value="{{balance}}">
      Interest rate<input id="updateInterest{{id}}" class="input" type="text" value="{{interest}}">
      Term (leave blank if none)<input id="updateTerm{{id}}" class="input" type="text" value="{{term_months}}">
    </section>
    <footer class="modal-card-foot">
      <button id="{{id}}" class="acctUpdate button is-success close">Save changes</button>
      <button class="button close">Cancel</button>
    </footer>
  </div>
</div>
{{/each}}

{{!-- add account modal --}}
<div class="modal" id="addAccountModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add new account</p>
      <button class="delete close" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      Account name <input id="newAccountName" class="input" type="text" placeholder="{{account_name}}">
      Balance<input id="newBalance" class="input" type="text" placeholder="{{balance}}">
      Interest rate<input id="newInterest" class="input" type="text" placeholder="{{interest}}">
      Term (leave blank if none)<input id="newTerm" class="input" type="text" placeholder="{{term_months}}">
    </section>

    <footer class="modal-card-foot">
      <button id="newAcctSubmit" class="button is-success close">Save</button>
      <button class="button close">Cancel</button>
    </footer>
  </div>
</div>


<script>
  totalDebt = 0
  totalFeesYr = 0
  totalFeesMo = 0
  totalFeesDay = 0
  {{#each accounts}}
  {{#if active}}
    var thisInt = {{interest}} / 100
    var thisFeesYr = thisInt * {{balance}}
    var thisFeesMo = thisFeesYr / 12
    var thisFeesDay = thisFeesYr / 365
    totalDebt = totalDebt + {{balance}}
    totalFeesYr = totalFeesYr + thisFeesYr
    totalFeesMo = totalFeesMo + thisFeesMo
    totalFeesDay = totalFeesDay + thisFeesDay
  {{/if}}
  {{/each}}
  document.getElementById("totalDebt").innerHTML = totalDebt
  document.getElementById("feesYr").innerHTML = totalFeesYr.toFixed(2)
  document.getElementById("feesMo").innerHTML = totalFeesMo.toFixed(2)
  document.getElementById("feesDay").innerHTML = totalFeesDay.toFixed(2)
</script>

<script src="/assets/js/home.js"></script>
